{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.10.2"}}

 :aliases
 {:dev {:extra-paths ["dev/src" "dev/resources"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      lambdaisland/kaocha {:mvn/version "1.0.829"}}}}}
